<table class="table">
  <thead>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Object</th>
    <th>Action</th>
    <th>Data</th>
  </tr>
  </thead>

  <tbody>
  <% @paths.each do |paths| %>
    <tr>
      <td><%= paths.created_at %></td>
      <td><%= paths.description %></td>
      <td><%= paths.object %></td>
      <td><%= paths.action %></td>
      <td><%= paths.data %></td>
    </tr>
  <% end %>
  </tbody>
</table>