<div class="container-fluid">
      <h1>Demonsional!</h1>
      <h2>Create a new demo environment</h2>
  <%= form_with model: @session, url: create_demo_url, multipart: true do |form| %>
    <%= form.label "Enterprise Name (Customer): " %>
    <%= form.text_field :enterprise %>
    <br><br><br>
    <h3>Select Deployment Option:</h3>

    <%= form.label :single_enterprise %>
    <%= form.radio_button :selected_option, "single_enterprise", checked: true %>
    <br>
    <%= form.label :multiple_enterprises %>
    <%= form.radio_button :selected_option, "multiple_enterprises" %>
    <br>
    <br>
    <%= form.label "Pickup Date: " %>
    <br>
    <%= form.date_field :pickup_date, required: false %>
    <p>Leave date input field blank to use dates provided in the upload file.</p>
    <p><%= link_to 'Download', so_example_static_pages_path %> the file that is used for creating the SO's.
      You can use this as a template for your own custom data set.</p>
    <br>
    <h3>Adding a file is optional.</h3>
    <%= file_field_tag :file %>
    <br>
    <br>
    <br>
    <% if @show_submit %>
      <%= form.submit :disabled => false %>
    <% else %>
      <%= form.submit :disabled => true %>
    <% end %>
  <% end %>

</div>