<div class="container-fluid">
      <h1>Demonsional!</h1>
      <h2>Creating a new demo environment will delete all existing enterprise and shipping order records in this application</h2>
  <%= form_with model: @session, url: create_demo_url do |form| %>
    <%= form.label "Enterprise Name (Customer): " %>
    <%= form.text_field :enterprise %>
    <br>
    <%= form.label "Pickup Date: " %>
    <%= form.date_field :pickup_date %>
    <br>
    <%= form.submit %>
  <% end %>

</div>