<h1>Demonsional!</h1>
<h2>Demo like it's your job</h2>
<%= link_to "Enterprises and Locations", enterprises_path %>
<br>
<%= link_to "Shipping Orders",  "#" %>
<br>
<%= link_to "Purchase Orders", "#" %>
<br>
<%= link_to "Let me roll that for you", "#" %>
<br>
<%= link_to "Login", "#" %>
<br>
<%= link_to "Logout", "#" %>

<h6>First you need to self register</h6>
<h5>Next you can setup your data</h5>
<h4>Finally you can create your demo environment</h4>
<p>
  What does creating your demo environment do?  It will create a wondrous environment that allows you to tell a compelling story of value.
</p>