<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Demonsional!</h1>
      <h2>Demo like it's your job</h2>
      <h3>First you need to self register</h3>
      <h4>Next you can setup your data</h4>
      <h5>Finally you can create your demo environment</h5>
      <p>
        What does creating your demo environment do? It will create a wondrous environment that allows you to tell a
        compelling story of value.
      </p>
    </div>
    <div class="col">
      <h1>Dashboard</h1>
      <% begin %>
        <h3>Active Profile: <%= current_user.profiles.cust_acct(current_user) %></h3>
      <% rescue %>
        <h3><%= link_to 'Need to setup profiles', new_profile_path %></h3>
      <% end %>
      <div class="row">
        <div class="col">
          MMO Shipment Report
        </div>
        <div class="col">
          DD
        </div>
      </div>
      <div class="row">
        <div class="col">
          Contract Report
        </div>
        <div class="col">
          <%= display_indicator(@contract_report) %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Pool Report
        </div>
        <div class="col">
          DD
        </div>
      </div>
      <div class="row">
        <div class="col">
          Tender Accept Report
        </div>
        <div class="col">
          DD
        </div>
      </div>
      <div class="row">
        <div class="col">
          Tender Reject Report
        </div>
        <div class="col">
          DD
        </div>
      </div>
      <div class="row">
        <div class="col">
          In Transit Report
        </div>
        <div class="col">
          DD
        </div>
      </div>
      <div class="row">
        <div class="col">
          Delivered Report
        </div>
        <div class="col">
          DD
        </div>
      </div>
      <div class="row">
        <div class="col">
          Call Check Report
        </div>
        <div class="col">
          DD
        </div>
      </div>
      <div class="row">
        <div class="col">
          Invoice Report
        </div>
        <div class="col">
          DD
        </div>
      </div>
      </div>
    </div>
  </div>
  <h2>MMO in the cloud status</h2>
  <%= link_to "Refresh", '/', remote: true %>
  <br>
  <% if @mmo_status == 'Unavailable' %>
    <h4>Unable to find MMO Server</h4>
  <% else %>
    <div class="row">
      <div class="col-md-2">Status:</div>
      <div class="col-md-10"><%= @mmo_status['status'] %></div>
      <div class="col-md-2">Uptime (hours):</div>
      <div class="col-md-10"><%= (@mmo_status['uptimeSeconds'] / 3600) %></div>
      <div class="col-md-2">On Deck (Queue):</div>
      <div class="col-md-10"><%= @mmo_status['currentQueueLength'] %></div>
      <div class="col-md-2">Currently Processing:</div>
      <div class="col-md-10"><%= @mmo_status['processingCount'] %></div>
    </div>
  <% end %>
  <br>
  <%#= link_to "Validate Code Tables", code_table_status_static_pages_path, remote: true %>
  <div class="mmo_status"></div>
  <%#= @mmo_status.html_safe %>
</div>