
  <%= bootstrap_form_for(@profile, layout: :horizontal) do |form| %>
    <% if profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
        <ul>
          <% profile.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    <%= form.text_field :active %>
    <%= form.text_field :cust_acct, label: 'Customer Account Number' %>
    <%= form.text_field :shipment_match_reference %>
    <%= form.text_field :so_match_reference %>
    <%= form.text_field :edge_pack_url %>
    <%= form.text_field :edge_pack_id %>
    <%= form.text_field :edge_pack_pwd %>
    <%= form.text_field :ws_user_id, label: 'WS user ID' %>
    <%= form.text_field :ws_user_pwd, label: 'WS user password' %>
    <%= form.text_field :report_user %>
    <%= form.text_field :server %>
    <%= form.text_field :mmo_shipment_report %>
    <%= form.text_field :contract_report %>
    <%= form.text_field :pool_report %>
    <%= form.text_field :tender_reject_report %>
    <%= form.text_field :tender_accept_report %>
    <%= form.text_field :call_check_report %>
    <%= form.text_field :delivered_report %>
    <%= form.text_field :in_transit_report %>
    <%= form.text_field :need_invoice_report %>
    <%= form.submit %>
  <% end %>