<tbody>
<tr>
  <td>
    <%= profile.active %>
  </td>
  <td>
    <%= profile.cust_acct %>
  </td>
  <td>
    <%= profile.shipment_match_reference %>
  </td>
  <td>
    <%= profile.so_match_reference %>
  </td>
  <td>
    <%= profile.edge_pack_url %>
  </td>
  <td>
    <%= profile.report_user %>
  </td>
  <td>
    <%= profile.server %>
  </td>

  <td>
    <%= profile.pool_chains %>
  </td>
  <td>
    <%= link_to 'Edit', edit_profile_path(profile) %>
  </td>
  <td>
    <%= link_to 'Copy', copy_profiles_path(:id => profile.id) %>
  <td>
    <%= button_to 'Delete', profile, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
</tbody>