<div class="container">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, placeholder: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes below)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
<div class="container">

    <div class="field">
      <%= f.label :cust_acct %><br />
      <%= f.text_field :cust_acct, placeholder: 'TMS Enterprise' %>
      <%#= Enterprise.mg_post_ent(current_user.cust_acct) %>
    </div>

    <div class="field">
      <%= f.label :so_match_reference %><br />
      <%= f.text_field :so_match_reference, placeholder: "SO Number" %>
    </div>

    <div class="field">
      <%= f.label :shipment_match_reference %><br />
      <%= f.text_field :shipment_match_reference, placeholder: "Shipment Number" %>
    </div>

  <div class="field">
    <%= f.label :edge_pack_url %><br />
    <%= f.text_field :edge_pack_url, placeholder: "http..." %>
  </div>
  <div class="field">
    <%= f.label :edge_pack_id %><br />
    <%= f.text_field :edge_pack_id, placeholder: "Refer to TMS config" %>
  </div>
  <div class="field">
    <%= f.label :edge_pack_pwd %><br />
    <%= f.text_field :edge_pack_pwd, placeholder: "Refer to TMS config" %>
  </div>

  <div class="field">
    <%= f.label :ws_user_id %><br />
    <%= f.text_field :ws_user_id, placeholder: "Refer to TMS config" %>
  </div>

  <div class="field">
    <%= f.label :ws_user_pwd %><br />
    <%= f.text_field :ws_user_pwd, placeholder: "Refer to TMS config" %>
  </div>

  <div class="field">
    <%= f.label :report_user %><br />
    <%= f.text_field :report_user, placeholder: "Report owner" %>
  </div>

</div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>


</div>