<p id="notice"><%= notice %></p>

<h1>Shipping Order Dates</h1>

<table>
  <thead>
    <tr>
      <th>Date type</th>
      <th>Date value</th>
      <th>Shipping orders</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipping_order_dates.each do |shipping_order_date| %>
      <tr>
        <td><%= shipping_order_date.date_type %></td>
        <td><%= shipping_order_date.date_value %></td>
        <td><%= shipping_order_date.shipping_orders %></td>
        <td><%= link_to 'Show', shipping_order_date %></td>
        <td><%= link_to 'Edit', edit_shipping_order_date_path(shipping_order_date) %></td>
        <td><%= link_to 'Destroy', shipping_order_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipping Order Date', new_shipping_order_date_path %>
