<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @configuration.parent %>
</p>

<p>
  <strong>Shipping Order Matching Reference:</strong>
  <%= @configuration.so_match %>
</p>

<p>
  <strong>Shipment Matching Reference:</strong>
  <%= @configuration.shipment_match %>
</p>

<%= link_to 'Edit', edit_configuration_path(@configuration) %>
