<div class="container-fluid">
  <%= bootstrap_form_for( setup_pickup_location(shipping_order) ) do |f| %>
    <% if shipping_order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(shipping_order.errors.count, "error") %> prohibited this shipping_order from being saved:</h2>
        <ul>
          <% shipping_order.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col">
        <%= f.select :payment_method, ['Prepaid', 'Collect', 'Third Party'] %>
      </div>
      <div class="col">
        <%= f.text_field :cust_acct_num %>
      </div>
      <div>
        <%= f.text_field :equipment_code %>
      </div>
    </div>
    <div class="row">
      <div class="col bg-success">
        <%= f.datetime_field :early_pickup_date %>
      </div>
      <div class="col bg-success">
        <%= f.datetime_field :late_pickup_date %>
      </div>
      <div class="col bg-danger">
        <%= f.datetime_field :early_delivery_date %>
      </div>
      <div class="col bg-danger">
        <%= f.datetime_field :late_delivery_date %>
      </div>
    </div>
    <div class="col border border-secondary bg-info">

      <h2>References</h2>
      <div class="row">
        <div class="col">
          Select
        </div>
        <div class="col">
          Reference Type
        </div>
        <div class="col">
          Reference Value
        </div>
      </div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          ShippingOrder Matching Reference
        </div>
        <div class="col">
          <%= f.text_field :so_match_ref, hide_label: true %>
        </div>
      </div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          Shipment Matching Reference
        </div>
        <div class="col">
          <%= f.text_field :shipment_match_ref, hide_label: true %>
        </div>
      </div>
      <div class="row">
        <%= render '/layouts/references', f: f %>
      </div>
    </div>
    <div class="row">
      <%= render '/layouts/pickup_locations', f: f %>
      <%= render '/layouts/delivery_locations', f: f %>
    </div>
    <%= render '/layouts/items', f: f %>
    <%= f.submit %>
  <% end %>
</div>