<%= form_for( @shipping_order) do |f| %>
  <% if shipping_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipping_order.errors.count, "error") %> prohibited this shipping_order from being saved:</h2>

      <ul>
        <% shipping_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :payment_method %>
    <%= f.text_field :payment_method %>
  </div>
<h1> Hi</h1>
  <div class="field">
    <%= f.label :cust_acct_num %>
    <%= f.text_field :cust_acct_num %>
  </div>

  <%= f.fields_for :locations, @shipping_order.locations.build do |ff| %>
    <div class="field">
      <%= ff.label :loc_code %>
      <%= ff.text_field :loc_code %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
