<div class="container-fluid">
  <%= bootstrap_form_for( setup_pickup_location(shipping_order) ) do |f| %>
    <% if shipping_order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(shipping_order.errors.count, "error") %> prohibited this shipping_order from being saved:</h2>
        <ul>
          <% shipping_order.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col">
        <%= f.select :payment_method, ['Prepaid', 'Collect', 'Third Party'] %>
      </div>
      <div class="col">
        <%= f.text_field :cust_acct_num %>
      </div>
    </div>
      <%= render '/layouts/references', f: f %>
    <div class="row">
      <%= render '/layouts/pickup_locations', f: f %>
      <%= render '/layouts/delivery_locations', f: f %>
    </div>
    <%= render '/layouts/items', f: f %>
    <%= f.submit %>
  <% end %>
</div>