<%= bootstrap_form_for( @shipping_order) do |f| %>
  <% if shipping_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipping_order.errors.count, "error") %> prohibited this shipping_order from being saved:</h2>

      <ul>
        <% shipping_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.select :payment_method, ['Prepaid', 'Collect', 'Third Party'] %>
  </div>
  <div class="field">
    <%= f.text_field :cust_acct_num %>
  </div>
<div>
  <h2>Pickup Location</h2>
  <%= f.fields_for :locations, @shipping_order.locations.build do |ff| %>
    <div class="field">
      <%= ff.hidden_field :stop_type, :value => 'Pickup' %>
      <%= ff.text_field :loc_code %>
      <%= ff.text_field :loc_type %>
      <%= ff.text_field :name %>
      <%= ff.text_field :address1 %>
      <%= ff.text_field :address2 %>
      <%= ff.text_field :city %>
      <%= ff.text_field :state %>
      <%= ff.text_field :postal %>
      <%= ff.text_field :country %>
      <%= ff.text_field :geo %>
      <%= ff.text_field :residential %>
      <%= ff.text_field :comments %>
      <%= ff.time_field :earliest_appt %>
      <%= ff.time_field :latest_appt %>
    </div>
  <% end %>
</div>
  <div>
    <h2>Drop Location</h2>
    <div>
      <%= f.fields_for :locations, @shipping_order.locations.build do |ff| %>
        <div class="field">
          <%= ff.hidden_field :stop_type, :value => 'Drop' %>
          <%= ff.text_field :loc_code %>
          <%= ff.text_field :name %>
          <%= ff.text_field :address1 %>
          <%= ff.text_field :address2 %>
          <%= ff.text_field :city %>
          <%= ff.text_field :state %>
          <%= ff.text_field :postal %>
          <%= ff.text_field :country %>
          <%= ff.text_field :geo %>
          <%= ff.text_field :residential %>
          <%= ff.text_field :comments %>
          <%= ff.time_field :earliest_appt %>
          <%= ff.time_field :latest_appt %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
