<h1>Shipping Orders</h1>

<%= link_to 'New Shipping Order', new_shipping_order_path %>
<br>
<% if current_user.cust_acct.blank? %>
  <%= link_to 'Complete configurations before importing', "users/edit" %>
<% else %>
  <%= link_to 'Create in TMS', 'shipping_orders/post_xml'  %>
<% end %>
<br>
<%= link_to 'Delete All', destroy_all_shipping_orders_path %>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th>Customer Account Number</th>
      <th>First Pickup</th>
      <th>Last Delivery</th>
      <th>Early Pickup</th>
      <th>Late Delivery</th>
      <th>SO Match</th>
      <th>Shipment Match</th>
      <th>Terms</th>
      <th>Equipment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipping_orders.each do |shipping_order| %>
      <tr>
        <td><%= shipping_order.cust_acct_num %></td>
        <% begin %>
          <td><%= shipping_order.pickup_locations.first.name %></td>
        <% rescue StandardError => e %>
        <% end %>
        <% begin %>
          <td><%= shipping_order.delivery_locations.last.name %></td>
        <% rescue StandardError => e %>
        <% end %>
        <td><%= shipping_order.early_pickup_date.try(:strftime, '%m/%d/%y %H:%M') %></td>
        <td><%= shipping_order.late_delivery_date.try(:strftime, '%m/%d/%y %H:%M') %></td>
        <td><%= shipping_order.so_match_ref %></td>
        <td><%= shipping_order.shipment_match_ref %></td>
        <td><%= shipping_order.payment_method %></td>
        <td><%= shipping_order.equipment_code %></td>
        <td><%= link_to 'Show', shipping_order %></td>
        <td><%= link_to 'Edit', edit_shipping_order_path(shipping_order) %></td>
        <td><%= button_to 'Destroy', shipping_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipping Order', new_shipping_order_path %>
<br>
<% if current_user.cust_acct.blank? %>
  <%= link_to 'Complete configurations before importing', "users/edit" %>
<% else %>
  <%= link_to 'Create in TMS', 'shipping_orders/post_xml'  %>
<% end %>
<br>
<%= link_to 'Delete All', destroy_all_shipping_orders_path %>
