<p id="notice"><%= notice %></p>

<p>
  <strong>Payment method:</strong>
  <%= @shipping_order.payment_method %>
</p>

<p>
  <strong>Cust acct num:</strong>
  <%= @shipping_order.cust_acct_num %>
</p>

<%= link_to 'Edit', edit_shipping_order_path(@shipping_order) %> |
<%= link_to 'Back', shipping_orders_path %>
