<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :sequence %>
    <%= form.number_field :sequence %>
  </div>

  <div class="field">
    <%= form.label :line_number %>
    <%= form.number_field :line_number %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :freight_class %>
    <%= form.text_field :freight_class %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :weight_uom %>
    <%= form.text_field :weight_uom %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :quantity_uom %>
    <%= form.text_field :quantity_uom %>
  </div>

  <div class="field">
    <%= form.label :cube %>
    <%= form.text_field :cube %>
  </div>

  <div class="field">
    <%= form.label :cube_uom %>
    <%= form.text_field :cube_uom %>
  </div>

  <div class="field">
    <%= form.label :shipping_orders %>
    <%= form.text_field :shipping_orders %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
