<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Sequence</th>
      <th>Line number</th>
      <th>Description</th>
      <th>Freight class</th>
      <th>Weight</th>
      <th>Weight uom</th>
      <th>Quantity</th>
      <th>Quantity uom</th>
      <th>Cube</th>
      <th>Cube uom</th>
      <th>Shipping orders</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.type %></td>
        <td><%= item.sequence %></td>
        <td><%= item.line_number %></td>
        <td><%= item.description %></td>
        <td><%= item.freight_class %></td>
        <td><%= item.weight %></td>
        <td><%= item.weight_uom %></td>
        <td><%= item.quantity %></td>
        <td><%= item.quantity_uom %></td>
        <td><%= item.cube %></td>
        <td><%= item.cube_uom %></td>
        <td><%= item.shipping_orders %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
