<p id="notice"><%= notice %></p>

<p>
  <strong>Enterprise:</strong>
  <%= @enterprise.company_name %>
</p>

<p>
  <strong>Customer Account:</strong>
  <%= @enterprise.customer_account %>
</p>

<p>
  <strong>Active:</strong>
  <%= @enterprise.active %>
</p>

<p>
  <strong>Location code:</strong>
  <%= @enterprise.location_code %>
</p>

<p>
  <strong>Location name:</strong>
  <%= @enterprise.location_name %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @enterprise.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @enterprise.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @enterprise.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @enterprise.state %>
</p>

<p>
  <strong>Postal:</strong>
  <%= @enterprise.postal %>
</p>

<p>
  <strong>Country:</strong>
  <%= @enterprise.country %>
</p>

<%= link_to 'Edit', edit_enterprise_path(@enterprise) %> |
<%= link_to 'Back', enterprises_path %>
