<%= form_with(model: rate) do |form| %>
  <% if rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rate.errors.count, "error") %> prohibited this rate from being saved:</h2>

      <ul>
        <% rate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :contract_id %>
    <%= form.text_field :contract_id %>
  </div>

  <div class="field">
    <%= form.label :lane_calc %>
    <%= form.text_field :lane_calc %>
  </div>

  <div class="field">
    <%= form.label :from_loccode %>
    <%= form.text_field :from_loccode %>
  </div>

  <div class="field">
    <%= form.label :from_city %>
    <%= form.text_field :from_city %>
  </div>

  <div class="field">
    <%= form.label :from_state %>
    <%= form.text_field :from_state %>
  </div>

  <div class="field">
    <%= form.label :from_zip %>
    <%= form.text_field :from_zip %>
  </div>

  <div class="field">
    <%= form.label :from_country %>
    <%= form.text_field :from_country %>
  </div>

  <div class="field">
    <%= form.label :to_loccode %>
    <%= form.text_field :to_loccode %>
  </div>

  <div class="field">
    <%= form.label :to_city %>
    <%= form.text_field :to_city %>
  </div>

  <div class="field">
    <%= form.label :to_state %>
    <%= form.text_field :to_state %>
  </div>

  <div class="field">
    <%= form.label :to_zip %>
    <%= form.text_field :to_zip %>
  </div>

  <div class="field">
    <%= form.label :to_country %>
    <%= form.text_field :to_country %>
  </div>

  <div class="field">
    <%= form.label :scac %>
    <%= form.text_field :scac %>
  </div>

  <div class="field">
    <%= form.label :service %>
    <%= form.text_field :service %>
  </div>

  <div class="field">
    <%= form.label :mode %>
    <%= form.text_field :mode %>
  </div>

  <div class="field">
    <%= form.label :break_1_field %>
    <%= form.text_field :break_1_field %>
  </div>

  <div class="field">
    <%= form.label :break_1_min %>
    <%= form.text_field :break_1_min %>
  </div>

  <div class="field">
    <%= form.label :break_1_max %>
    <%= form.text_field :break_1_max %>
  </div>

  <div class="field">
    <%= form.label :break_2_field %>
    <%= form.text_field :break_1_field %>
  </div>

  <div class="field">
    <%= form.label :break_2_min %>
    <%= form.text_field :break_1_min %>
  </div>

  <div class="field">
    <%= form.label :break_2_max %>
    <%= form.text_field :break_1_max %>
  </div>

  <div class="field">
    <%= form.label :rate_field %>
    <%= form.text_field :rate_field %>
  </div>

  <div class="field">
    <%= form.label :rate_calc %>
    <%= form.text_field :rate_calc %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.text_field :rate %>
  </div>

  <div class="field">
    <%= form.label :accessorial1_field %>
    <%= form.text_field :accessorial1_field %>
  </div>

  <div class="field">
    <%= form.label :accessorial1_calc %>
    <%= form.text_field :accessorial1_calc %>
  </div>

  <div class="field">
    <%= form.label :accessorial1_rate %>
    <%= form.text_field :accessorial1_rate %>
  </div>

  <div class="field">
    <%= form.label :total_min %>
    <%= form.text_field :total_min %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
