<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rate.user_id %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @rate.contract_id %>
</p>

<p>
  <strong>Lane calc:</strong>
  <%= @rate.lane_calc %>
</p>

<p>
  <strong>From loccode:</strong>
  <%= @rate.from_loccode %>
</p>

<p>
  <strong>From city:</strong>
  <%= @rate.from_city %>
</p>

<p>
  <strong>From state:</strong>
  <%= @rate.from_state %>
</p>

<p>
  <strong>From zip:</strong>
  <%= @rate.from_zip %>
</p>

<p>
  <strong>From country:</strong>
  <%= @rate.from_country %>
</p>

<p>
  <strong>To loccode:</strong>
  <%= @rate.to_loccode %>
</p>

<p>
  <strong>To city:</strong>
  <%= @rate.to_city %>
</p>

<p>
  <strong>To state:</strong>
  <%= @rate.to_state %>
</p>

<p>
  <strong>To zip:</strong>
  <%= @rate.to_zip %>
</p>

<p>
  <strong>To country:</strong>
  <%= @rate.to_country %>
</p>

<p>
  <strong>Scac:</strong>
  <%= @rate.scac %>
</p>

<p>
  <strong>Service:</strong>
  <%= @rate.service %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @rate.mode %>
</p>

<p>
  <strong>Break 1 field:</strong>
  <%= @rate.break_1_field %>
</p>

<p>
  <strong>Break 1 min:</strong>
  <%= @rate.break_1_min %>
</p>

<p>
  <strong>Break 1 max:</strong>
  <%= @rate.break_1_max %>
</p>

<p>
  <strong>Break 2 field:</strong>
  <%= @rate.break_2_field %>
</p>

<p>
  <strong>Break 2 min:</strong>
  <%= @rate.break_2_min %>
</p>

<p>
  <strong>Break 2 max:</strong>
  <%= @rate.break_2_max %>
</p>

<p>
  <strong>Rate field:</strong>
  <%= @rate.rate_field %>
</p>

<p>
  <strong>Rate calc:</strong>
  <%= @rate.rate_calc %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @rate.rate %>
</p>

<p>
  <strong>Accessorial1 field:</strong>
  <%= @rate.accessorial1_field %>
</p>

<p>
  <strong>Accessorial1 calc:</strong>
  <%= @rate.accessorial1_calc %>
</p>

<p>
  <strong>Accessorial1 rate:</strong>
  <%= @rate.accessorial1_rate %>
</p>

<p>
  <strong>Total min:</strong>
  <%= @rate.total_min %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
