<div class="col border border-secondary bg-danger">
  <%= f.fields_for :delivery_locations do |fd| %>
    <%= fd.hidden_field :stop_type, :value => 'Drop' %>
    <h2>Drop Locations</h2>
    <div class="row">
      <div class="col">
        <%= fd.check_box :_destroy %>
      </div>
      <div class="col">
        <%= fd.text_field :loc_code %>
      </div>
      <div class="col">
        <%= fd.text_field :loc_type %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= fd.text_field :name %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= fd.text_field :address1 %>
      </div>
      <div class="col">
        <%= fd.text_field :address2 %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= fd.text_field :city %>
      </div>
      <div class="col">
        <%= fd.text_field :state %>
      </div>
      <div class="col">
        <%= fd.text_field :postal %>
      </div>
      <div class="col">
        <%= fd.text_field :country %>
      </div>
      <div class="col">
        <%= fd.text_field :geo %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= fd.text_field :residential %>
      </div>
      <div class="col">
        <%= fd.text_field :comments %>
      </div>
      <div class="col">
        <%= fd.time_field :earliest_appt %>
      </div>
      <div class="col">
        <%= fd.time_field :latest_appt %>
      </div>
    </div>
  <% end %>
  <%= f.submit 'Add delivery location', :name => "add_delivery_location" %>
  <%= f.submit 'Delete checked drop locations', :name => "remove_delivery_location" %>
</div>